<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.access_count_.mapper.AccessCountMapper" >
    <insert id="save" parameterType="com.example.access_count_.pojo.User">
        insert into user(password,username,role) values (#{password},#{username},#{role})
    </insert>
</mapper>
